<!DOCTYPE html>
<html lang="en" ng-app="openDataDiscovery">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

	<head>
			<!-- <base href="/"> -->
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Open Data Discovery</title>

	    <!-- CSS -->
	    <link href="static/styles/app.css" rel="stylesheet">

			<!-- JS -->
			<script type="text/javascript" src="static/scripts/app.js"></script>
	</head>

	<body>
			<nav class="navbar navbar-default on-map no-background" ng-controller="navigatorCtrl">
			  <div class="container-fluid">
			      <form class="navbar-form navbar-left">
			        <div class="form-group input-group">
			          <input type="text" ng-model="location" class="form-control geocoder"
											 placeholder="Find a place..." ng-keypress="goTo($event)"
											 uib-popover="Unable to geocode this location!"
											 popover-trigger="none" popover-placement="bottom"
											 popover-is-open="showGeocodingMessage">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button" ng-click="goTo()"><i class="fa fa-arrow-right"></i></button>
								</span>
			        </div>
			      </form>

			      <ul class="nav navbar-nav navbar-right">
							<li><a class="nav-button clickable" href="https://www.data.gov/" target="_blank" tooltip="Go to the website">Data.gov</a></li>
							<li uib-dropdown dropdown-append-to-body>
			          <a class="nav-button clickable" uib-dropdown-toggle tooltip="Change map resolution">{{ currentResolution }} <span class="caret"></span></a>
			          <ul uib-dropdown-menu>
			            <li ng-repeat="res in resolutions" ng-click="changeResolution(res)" class="clickable"><a>{{ res }}</a></li>
			          </ul>
					    </li>
							<li><a class="nav-button clickable" title="See about page">About</a></li>
			        <li><a href="https://github.com/OpenDataDiscovery/opendatadiscovery.github.io" target="_blank" class="nav-button clickable" tooltip="Go to GitHub repo">GitHub</a></li>
			      </ul>
			  </div>
			</nav>

			<div id="legend" ng-controller="legendCtrl" class="on-map"></div>
			<div id="map" ng-controller="mapCtrl"></div>
			<div id="map-title" class="on-map">Explore the coverage of open data</div>

			<div id="sidebar">
			</div>

 	</body>
</html>
