.stat {
    height: 100%;
}

.stat p {
	font-size: 18px;
}

.stat span {
    font-weight: bold;
    font-size: 23px;
}

#organization p {
	font-size: 18px;
}

#tag p {
	font-size: 18px;
}

.chart-tooltip {
	font-size: 18px;
}

#word-cloud {
	height: 400px;
	width: 80%;
	margin:auto;
}

.section-space {
	margin-top: 50px;
}