@import "map.less";
@import "navbar.less";
@import "legend.less";
@import "sidebar.less";
@import "detail-view.less";

html {
	height: 100%;
}

body {
	height: 100%;
}

.no-background {
	background-color: transparent;
	border: 1px solid transparent;
}

.clickable {
	cursor: pointer;
}
