nav {
  width: 100%;

  .container-fluid {
    padding-left: 0;
  }

  input {
    padding: 5px;
    width: 250px !important;
  }

  .nav-button {
    color: white !important;
    font-size: 15px;
    font-weight: bold;
  }

  .clickable {
    &:hover {
      text-decoration: underline !important;
    }
  }
}
