<h2>{{ place }}</h2>

<div class="detail-container">

  <div class="detail">
    <div class="title">Total Number</div>
    <div class="value">- {{ count | number }}</div>
  </div>

  <div class="detail">
    <div class="title">Last Update</div>
    <div class="value">- {{ update | amUtc | amLocal | amDateFormat: 'LL' }}</div>
  </div>

  <div class="detail">
    <div class="title">Top 10 Data Tags</div>
    <div class="value">- comming soon</div>
  </div>

  <div class="detail">
    <div class="title">Top 10 Data Publishers</div>
    <div class="value">- comming soon</div>
  </div>

</div>
